{% from "auth/macro/navigator.html" import navigator with context %}
{% from "auth/macro/head.html" import head with context %}
{% from "auth/macro/footer.html" import footer with context %}

<!DOCTYPE html>
<html lang="en">
<head>

    {{ head(location) }}

</head>

<body class="text-center">
<form action="auth/login" method="POST" class="form-signin">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
</body>

{{ footer() }}

</html>
